body {
  padding-top: 59px;
  background-color: #eeeeee;
}

/*.navbar-brand {
  font-family: 'Iceberg', cursive;
  font-size: 30px;
}*/

.sidebar {
  position: fixed;
  top: 59px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #ddd;
  background-color: #ffffff;
}
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
.card{
  margin: 1rem;
}
.fit{
  size: cover;
}

.padding-tabels{
  padding: 2rem;
}
.padding-nps{
  padding-left: 2rem;
  padding-right: 2rem;
}
